#global-wrapper{ 
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}
.r{ background: #faa;}
.g{ background: #afa;}
.b{ background: #aaf;}

@media (min-width: 1200px) {
  
  	#boxed>#global-wrapper {
		width: 1020px;
	}
  	
	.container {
		width: 1000px;
	}
  

}


h3.heading {
	font-size: 1.6em;
	margin-top:15px;
	background: url(../images/stripe.png) repeat-x 0 6px;
	padding: 0;
}
h3.heading  span{
	margin-left: 5px;
	padding: 6px 5px 4px 5px;
	background-color: #fff;

}






 
.list-group {
	list-style: none;
	margin-top:0;
	border: 0px solid #ddd;
    border-radius: 4px;
    padding:0;
}
.list-group li {
	list-style: none;
}


.mini-menu {

	margin-bottom: 10px;
}





.th-box {


}

.block {
	margin-bottom: 10px;
}


/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 4px;
 	box-shadow: 1px 1px 5px #ddd; 
}
.product-thumb .image {
	text-align: center;
	padding: 10px; position: relative;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
.product-thumb .product-logo {
	position:absolute; top:0; right:10px;
}


.product-thumb .thumb-text { 
	padding: 10px;
	background: #fafafa;
	height: 130px;
	
}

.product-thumb .caption {
    min-height: 45px;
	text-align: center;
	padding: 0 10px;
}

.product-thumb h3.product-name {
	font-size: 1em;
	margin-top: 0;
}

.product-thumb .product-description {
}


.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 5px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 12px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 12px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}


.product-thumb .price {
	color: #444;
	font-weight: bold;
	color: #d4232b;
	text-align: center;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
	font-weight: normal;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
	font-weight: normal;
}

.product-thumb .bttn-group {
	text-align: center;
}





/* product grid */
.product-grid .product-thumb .product-description {
	display: none;
}
.product-grid .product-thumb .image {
	border-bottom: 1px solid #ddd;
}



/* antara 768 - 1200 */
@media (min-width: 767px) {

	#column-left{
		padding-right: 10px;
	}
	#column-right{
		padding-left: 10px;
	}

	/* product list */
	.product-list .product-thumb .image {
		border-right: 1px solid #ddd; 
		float: left;
		padding: 10px;
	}

	.product-list .product-thumb .thumb-text {
		background: #fff;
	}
	.product-list .product-thumb .caption {
		width: 320px;
		display: inline-block;
		float: left;
		text-align: left;
	}
	.product-list .product-thumb .product-name {
		font-weight:bold;
	}

	.product-list .product-thumb .price {
		display: inline-block;
		min-width: 100px;
		
	}
	.product-list .product-thumb .bttn-group {
		display: inline-block;
		min-width: 100px;
		float: right;
		
	}
	
	/* product sidebar */
	#column-right .th-box {
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}

	
	
	#column-left .product-thumb , #column-right .product-thumb{
		border:0;
		box-shadow: 0 0 0;
		border-radius: 0;
		border-bottom: 1px solid #ddd;
		margin:0;
	}
	#column-left .image img, #column-right .image  img{
	margin:0;
	}

	
	
	#column-left .thumb-text, #column-right .thumb-text {
		padding:0;
		background: #fff;
			height: auto;

	}
	
	
	#column-left .caption, #column-right .caption {
		text-align: left;
		min-height:10px;
	}
	#column-left .price, #column-right .price {
		text-align: left;
		padding: 0 10px;
	}
	
	#column-left .bttn-group, #column-right .bttn-group ,#column-left .product-description, #column-right .product-description{
		display: none;
	}	
	
}

/* max 1200 */
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}

/* dibawah 768 */
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}










#cart-total {
	color: #112;
}

















.product-control {

	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	margin-bottom: 5px;
}

.product-control .form-control {
	height: 28px;
	padding:0;
}

.product-control .btn {
	height: 28px;
	padding-top: 3px;
}

.product-control .control-label {
margin-top: 3px;
}

.product-pagination { margin-bottom: 10px;}











/* navbar */


#section-navbar {
    background-color: #0086B3;
    border-color: #1f90bb #1f90bb #145e7a;
	border: 0px solid;
	margin-bottom: 10px;
	padding: 10px 0 5px 0;


}

#navbar ul{
	display: inline-block;
	margin:0;
	list-style:none;

}

#navbar 	a {
	padding-left: 1em;
	padding-right: 1em;
	color: #fff;
	font-weight: bold;
	border-left: 1px solid #005b79;
	border-right: 1px solid #009fd5;
}
#navbar 	a:hover  {
	background-color: transparent;
}

#navbar 	li:first-child  a {
	border-left: 0;
}
#navbar 	li:last-child a {
	border-right: 0;
}


#navbar li li a {
	color: #222;
	font-weight: normal;
	border: 0;
	border-bottom: 1px dotted #999;
		line-height: 40px;

	
}


#navbar>ul.sf-arrows>li>.sf-with-ul:after {
	content: '';
}


#cart{ margin:0 10px 0 0; }
#cart-total, #c-button i { color: #fff }
#cart-total:hover {
	color: orange;
	cursor: pointer;
}

/* arrows */
.sf-arrows .sf-with-ul:after {
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
 

.owl-carousel {
margin-bottom:10px !important;
}

.owl-wrapper-outer {
	padding: 0;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

/* catbar */
#catbar {
	margin-bottom: 10px;
	border-radius: 4px 4px 0 0;
	background-color: #fafafa;
}


#catbar>ul.sfmenu {

}
#catbar 	li {
	position: relative;
}

#catbar 	li:first-child a {
	border-top: 1px dotted #aaa;

}

#catbar 	a {
	line-height: 36px;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px dotted #aaa;
	color: #000;
}
#catbar 	a span { color: green; font-style: italic; }

#catbar .sf-arrows .sf-with-ul:after {
    font-family: 'FontAwesome';
    content: "\f105";
	color: red;
	line-height: 40px;
	padding-top: .5em;
}


/* arrows */
.sf-arrows .sf-with-ul:after {
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
    font-family: 'FontAwesome';
    content: "\f105";
	color: red;
	line-height: 40px;
	padding-top: .5em;
}



.btn{
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0983a2;
border-bottom:2px solid #06647b;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #0b9ec4;
border-bottom:2px solid #1a7186;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}


#column-right .row { margin:0;}



.html-widget {
	margin-bottom: 15px;
}


.product-control {
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 9px 0;
}

.pagination-bottom {
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.brc {
	margin-bottom: 5px;
	padding:10px 5px 0 5px;

}
.brc  ul{
	display: inline-block;
	padding:0;
	margin:0;
}

.brc i {
}
.brc  li {
	float:left;
	padding-bottom: 0;
    list-style-image: none;
    list-style-type: none;
}

.brc li:after {
    content: "/";
    display: inline-block;
    padding-left: .7em;
	padding-right:.7em;
	color: #aaa;
	
}

.brc li:last-child:after {
    content: "";
}


.brc a {
	font-size: 1.1em;
}




#input-sort { width: 100px; display: inline}
#input-limit { width: 50px; display: inline}
.control-group { margin-left: 10px; display: inline;}

.pagination { margin:0;padding:0 }

